body {
    background-color: #fcf0f0;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.img1{
width: 75px;
height:auto;
}

.h1{
   display: flex;

}
.nav_ul{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
.nav_ul a{
  text-decoration: none;
}

.nav_ul li {
    color: black;
    padding-left: 25px;
    font-size: 25px;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img3{
    width: 500px;
    height: 600px;
    margin-top: 30px;
    margin-left: 40px;
}

.title{
    display: flex;
    padding-left: 50px;
    font-size: 47px;
    font-family: "Arial GEO Italic", sans-serif;
   font-weight: 300;
   
   
}
.div5{
    width: 100%;
    display: flex;
    align-items: center;
    
}

.div8 {
    width: 100%;


    height: 100%;
}


.div8 p{
    padding-left: 50px;
    padding-top: 90px;
    font-size: 24px;
    font-family: "ALK Rounded Nusx Med", sans-serif;
    line-height: 120%;
}

.sec2_maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

    margin-bottom: 500PX;
}

.section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 96px;
}

.p1 {
  color: #000;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-animation: text 3s infinite;
          animation: text 3s infinite;
}

@-webkit-keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

  100% {
    letter-spacing: 0;
    margin-bottom: -40px;
  }
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

  100% {
    letter-spacing: 0;
    margin-bottom: -40px;
  }
}

.nist {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.div2 {
  width: 325px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 102px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.div2 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.div2:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 14, 32, 0.77);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.div2:hover .card_content {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.card_content h2 {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 32px;
  color: #028a0f;
}

.card_content p {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 16px;
  color: #f6f6f6;
  margin: 8px 0px;
}

.card_content .button_rm {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #028a0f;
  color: #fff;
  font-size: 16px;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.div3 {
  width: 325px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 102px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.div3 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.div3:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card_content2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 14, 32, 0.77);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.div3:hover .card_content2 {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.card_content2 h2 {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 32px;
  color: #028a0f;
}

.card_content2 p {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 16px;
  color: #f6f6f6;
  margin: 8px 0px;
}

.card_content2 .button_rm2 {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #028a0f;
  color: #fff;
  font-size: 16px;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.div4 {
  width: 325px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 102px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}

.div4 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.div4:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card_content3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(13, 14, 32, 0.77);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.div4:hover .card_content3 {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.card_content3 h2 {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 32px;
  color: #028a0f;
}

.card_content3 p {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 16px;
  color: #f6f6f6;
  margin: 8px 0px;
}

.card_content3 .button_rm3 {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background-color: #028a0f;
  color: #fff;
  font-size: 16px;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  letter-spacing: 1.5px;
  margin-top: 10px;
}
