.img1{
width: 75px;
height:auto;
}

.h1{
   display: flex;

}
.nav_ul{
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.nav_ul li {
    padding-left: 25px;
    font-size: 25px;
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.img2{
    width: 500px;
    height: 600px;
    margin-top: 30px;
    margin-left: 40px;
}
.title{
    display: flex;
    margin-left: 700px;
    font-size: 25px;
   
}
.div5{
 
    display: flex;
    justify-content: center;
  
    margin-bottom: 20px;
    
}